@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 text-slate-900 antialiased;
}

#root {
  @apply min-h-screen;
}

button,
input,
select,
textarea {
  @apply outline-none;
}

input:focus,
select:focus,
textarea:focus {
  @apply ring-2 ring-brand-500/20 border-brand-500;
}

